<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <gazebo reference="front_left_wheel">
        <mu1 value="0.2" />
        <mu2 value="0.2" />
    </gazebo>
    <gazebo reference="front_right_wheel">
        <mu1 value="0.2" />
        <mu2 value="0.2" />
    </gazebo>
    <gazebo reference="back_left_wheel">
        <mu1 value="0.2" />
        <mu2 value="0.2" />
    </gazebo>
    <gazebo reference="back_right_wheel">
        <mu1 value="0.2" />
        <mu2 value="0.2" />
    </gazebo>

    <gazebo>
        <plugin name="differential_drive_controller_front" filename="libgazebo_ros_diff_drive.so">
            <rosDebugLevel>na</rosDebugLevel>
            <publishWheelTF>true</publishWheelTF>
            <robotNamespace>/</robotNamespace>
            <publishTf>true</publishTf>
            <publishWheelJointState>true</publishWheelJointState>
            <alwaysOn>true</alwaysOn>
            <updateRate>30.0</updateRate>
            <legacyMode>true</legacyMode>
            <left_joint>front_left_wheel_joint</left_joint>
            <right_joint>front_right_wheel_joint</right_joint>
            <wheel_separation>${(0.27998 + 0.114)*2}</wheel_separation>
            <wheel_diameter>${2*0.11736}</wheel_diameter>
            <broadcastTF>1</broadcastTF>
            <wheelTorque>50</wheelTorque>
            <wheelAcceleration>1.8</wheelAcceleration>
            <commandTopic>cmd_vel</commandTopic>
            <odometryFrame>odom</odometryFrame>
            <odometryTopic>odom</odometryTopic>
            <odometrySource>world</odometrySource>
            <robotBaseFrame>base_footprint</robotBaseFrame>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin name="differential_drive_controller_back" filename="libgazebo_ros_diff_drive.so">
            <rosDebugLevel>na</rosDebugLevel>
            <publishWheelTF>true</publishWheelTF>
            <robotNamespace>/</robotNamespace>
            <publishTf>true</publishTf>
            <publishWheelJointState>true</publishWheelJointState>
            <alwaysOn>true</alwaysOn>
            <updateRate>30.0</updateRate>
            <legacyMode>true</legacyMode>
            <left_joint>back_left_wheel_joint</left_joint>
            <right_joint>back_right_wheel_joint</right_joint>
            <wheel_separation>${(0.27998 + 0.114)*2}</wheel_separation>
            <wheel_diameter>${2*0.11736}</wheel_diameter>
            <broadcastTF>1</broadcastTF>
            <wheelTorque>50</wheelTorque>
            <wheelAcceleration>1.8</wheelAcceleration>
            <commandTopic>cmd_vel</commandTopic>
            <odometryFrame>odom</odometryFrame>
            <odometryTopic>odom</odometryTopic>
            <odometrySource>world</odometrySource>
            <robotBaseFrame>base_footprint</robotBaseFrame>
        </plugin>
    </gazebo>

</robot>